@charset "UTF-8";

@font-face {
  font-family: 'meteocons';
  src: url('meteocons.eot');
  src: url('meteocons.eot?#iefix') format('embedded-opentype'),
       url('meteocons.woff') format('woff'),
       url('meteocons.ttf') format('truetype'),
       url('meteocons.svg#meteocons') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: meteocons;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-windy-rain-inv:before { content: "\21"; } /* '\21' */
.icon-snow-inv:before { content: "\22"; } /* '\22' */
.icon-snow-heavy-inv:before { content: "\23"; } /* '\23' */
.icon-hail-inv:before { content: "\24"; } /* '\24' */
.icon-clouds-inv:before { content: "\25"; } /* '\25' */
.icon-clouds-flash-inv:before { content: "\26"; } /* '\26' */
.icon-temperature:before { content: "\27"; } /* '\27' */
.icon-compass:before { content: "\28"; } /* '\28' */
.icon-na:before { content: "\29"; } /* '\29' */
.icon-celcius:before { content: "\2a"; } /* '\2a' */
.icon-fahrenheit:before { content: "\2b"; } /* '\2b' */
.icon-clouds-flash-alt:before { content: "\30"; } /* '\30' */
.icon-sun-inv:before { content: "\31"; } /* '\31' */
.icon-moon-inv:before { content: "\32"; } /* '\32' */
.icon-cloud-sun-inv:before { content: "\33"; } /* '\33' */
.icon-cloud-moon-inv:before { content: "\34"; } /* '\34' */
.icon-cloud-inv:before { content: "\35"; } /* '\35' */
.icon-cloud-flash-inv:before { content: "\36"; } /* '\36' */
.icon-drizzle-inv:before { content: "\37"; } /* '\37' */
.icon-rain-inv:before { content: "\38"; } /* '\38' */
.icon-windy-inv:before { content: "\39"; } /* '\39' */
.icon-sunrise:before { content: "\41"; } /* '\41' */
.icon-sun:before { content: "\42"; } /* '\42' */
.icon-moon:before { content: "\43"; } /* '\43' */
.icon-eclipse:before { content: "\44"; } /* '\44' */
.icon-mist:before { content: "\45"; } /* '\45' */
.icon-wind:before { content: "\46"; } /* '\46' */
.icon-snowflake:before { content: "\47"; } /* '\47' */
.icon-cloud-sun:before { content: "\48"; } /* '\48' */
.icon-cloud-moon:before { content: "\49"; } /* '\49' */
.icon-fog-sun:before { content: "\4a"; } /* '\4a' */
.icon-fog-moon:before { content: "\4b"; } /* '\4b' */
.icon-fog-cloud:before { content: "\4c"; } /* '\4c' */
.icon-fog:before { content: "\4d"; } /* '\4d' */
.icon-cloud:before { content: "\4e"; } /* '\4e' */
.icon-cloud-flash:before { content: "\4f"; } /* '\4f' */
.icon-cloud-flash-alt:before { content: "\50"; } /* '\50' */
.icon-drizzle:before { content: "\51"; } /* '\51' */
.icon-rain:before { content: "\52"; } /* '\52' */
.icon-windy:before { content: "\53"; } /* '\53' */
.icon-windy-rain:before { content: "\54"; } /* '\54' */
.icon-snow:before { content: "\55"; } /* '\55' */
.icon-snow-alt:before { content: "\56"; } /* '\56' */
.icon-snow-heavy:before { content: "\57"; } /* '\57' */
.icon-hail:before { content: "\58"; } /* '\58' */
.icon-clouds:before { content: "\59"; } /* '\59' */
.icon-clouds-flash:before { content: "\5a"; } /* '\5a' */

